button {
  position: relative;
  z-index: 3;
}

circle {
 fill: #f00;
}

.axis-label {
  stroke: #000000;
}

polygon {
  fill: none;
  stroke: gold;
  stroke-width: 5px;
}

.bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -3;
}

.grid {
  background-size: 10px 10px;
  overflow: hidden;
  overflow: hidden;
  background-image:
  linear-gradient(to right, #ffffff 1px, transparent 1px),
  linear-gradient(to bottom, #ffffff 1px, transparent 1px);
  opacity: 0.3;
}

.grid > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #000000;
}

.grid h2 {
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 6rem;
}

button {
  z-index: 4;
}

.container {
  /* background: grey; */
  color: #ffffff;
  resize: both;
  width: 100%;
  height: 100%;
}

.axis-label {
  stroke: #ffffff;
}

.visx-axis-tick tspan, .axis-label tspan {
  font-size: 18pt;
  fill: #ffffff;
}
