main {
  padding: 0 !important;
}

header {
  display: flex;
  justify-content: space-evenly;
}

button {
  position: relative;
  z-index: 3;
  border: 10px solid blue;
}

.svg-container svg {
  grid-row: body;
}

.grid {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, #ffffff 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff 1px, transparent 1px);
}

.grid > div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
}

.grid h2 {
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 6rem;
}